body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
  opacity:0.8;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#008000;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:250px;
  width:208px;
  height:41px;
  font-size:36px;
  color:#008000;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  word-wrap:break-word;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#008000;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:399px;
  width:287px;
  height:49px;
  font-size:36px;
  color:#008000;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  word-wrap:break-word;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:307px;
  width:365px;
  height:61px;
}
#u82_input {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:61px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#008000;
  text-align:left;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:468px;
  width:365px;
  height:66px;
}
#u83_input {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:66px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#008000;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:699px;
  width:230px;
  height:32px;
  font-size:28px;
  color:#008000;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  white-space:nowrap;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:55px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:685px;
  width:188px;
  height:55px;
  opacity:0.9;
  font-size:36px;
  text-decoration:underline;
  color:#008000;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:184px;
  word-wrap:break-word;
}
#u85_ref {
  border-width:0px;
  position:absolute;
  left:483px;
  top:730px;
  width:1px;
  height:1px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:112px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:56px;
  width:186px;
  height:112px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#009900;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:96px;
  width:367px;
  height:60px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#009900;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  word-wrap:break-word;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:112px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:56px;
  width:186px;
  height:112px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#009900;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:96px;
  width:367px;
  height:60px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#009900;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  word-wrap:break-word;
}
#u91_ref {
  border-width:0px;
  position:absolute;
  left:656px;
  top:146px;
  width:1px;
  height:1px;
}
#u92_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:61px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:40px;
  color:#FFFFFF;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:579px;
  width:164px;
  height:61px;
  opacity:0.9;
  font-size:40px;
  color:#FFFFFF;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:160px;
  word-wrap:break-word;
}
