body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2569px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2560px;
  height:1600px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:11px;
  width:2560px;
  height:1600px;
  opacity:0.9;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#009900;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:325px;
  width:367px;
  height:60px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#009900;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:243px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:1227px;
  width:511px;
  height:243px;
  opacity:0.8;
  font-size:36px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:100px;
  width:507px;
  word-wrap:break-word;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:245px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:982px;
  width:511px;
  height:245px;
  opacity:0.8;
  font-size:36px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:102px;
  width:507px;
  word-wrap:break-word;
}
#u3_ref {
  border-width:0px;
  position:absolute;
  left:738px;
  top:1217px;
  width:1px;
  height:1px;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:17px;
  width:145px;
  height:42px;
  opacity:0.8;
  font-size:20px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:141px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:175px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:122px;
  width:227px;
  height:175px;
  color:#009900;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:2139px;
  top:122px;
  width:294px;
  height:111px;
  opacity:0.9;
  font-size:36px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:290px;
  word-wrap:break-word;
}
