{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Organic Tomatoes</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="{% static 'resources/css/jquery-ui-themes.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'resources/css/axure_rp_page.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'data/styles.css" type="text/css' %}" rel="stylesheet"/>
    <link href="{% static 'files/detail_info/styles.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %}" type="text/css" rel="stylesheet"/>
    <style type="text/css">
@font-face {
font-family: 'IcoMoon-Free';
src: url('https://raw.githubusercontent.com/Keyamoon/IcoMoon-Free/master/Font/IcoMoon-Free.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
    </style>
    <script type="text/javascript">
      var user_id = "../{{user.id}}";
    </script>
    <script src="{% static 'resources/scripts/jquery-1.7.1.min.js' %}"></script>
    <script src="{% static 'resources/scripts/jquery-ui-1.8.10.custom.min.js' %}"></script>
    <script src="{% static 'resources/scripts/prototypePre.js' %}"></script>
    <script src="{% static 'data/document.js' %}"></script>
    <script src="{% static 'resources/scripts/prototypePost.js' %}"></script>
    <script src="{% static 'files/detail_info/data.js' %}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u38" class="ax_default box_1">
        <div id="u38_div" class=""></div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u39" class="ax_default box_1">
        <div id="u39_div" class=""></div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u40" class="ax_default" data-left="165" data-top="15" data-width="650" data-height="80">

        <!-- Unnamed (Group) -->
        <div id="u41" class="ax_default" data-left="165" data-top="15" data-width="650" data-height="80">

          <!-- Rectangle (Rectangle) -->
          <div id="u42" class="ax_default shape" data-label="Rectangle">
            <div id="u42_div" class=""></div>
          </div>

          <!-- Search Field (Text Field) -->
          <div id="u43" class="ax_default text_field1" data-label="Search Field">
            <input id="u43_input" type="search" value="" maxlength="128"/>
          </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u44" class="ax_default image1">
          <img id="u44_img" class="img " src="{% static 'images/sharing/u11.png' %}"/>
        </div>
      </div>

      <!-- Image (Image) -->
      <div id="u45" class="ax_default image1" data-label="Image">
        <img id="u45_img" class="img " src="{% static 'images/sharing/image_u12.png' %}"/>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u46" class="ax_default image">
        <img id="u46_img" class="img " src="{% static 'images/sharing/u13.jpeg' %}"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u47" class="ax_default fontawesome">
        <div id="u47_div" class=""></div>
        <div id="u47_text" class="text ">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u48" class="ax_default label">
        <div id="u48_div" class=""></div>
        <div id="u48_text" class="text ">
          <p><span>Organic tomatoes from Queen Victoria Market</span></p>
        </div>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u49" class="ax_default droplist">
        <select id="u49_input">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option selected value="4">4</option>
        </select>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u50" class="ax_default label">
        <div id="u50_div" class=""></div>
        <div id="u50_text" class="text ">
          <p><span>Quantity</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u51" class="ax_default link_button">
        <div id="u51_div" class=""></div>
        <div id="u51_text" class="text ">
          <p><span>Add to Cart</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u52" class="ax_default label">
        <div id="u52_div" class=""></div>
        <div id="u52_text" class="text ">
          <p><span>Purchase date: 01 / 05 / 2018</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u53" class="ax_default label">
        <div id="u53_div" class=""></div>
        <div id="u53_text" class="text ">
          <p><span>Price: 100 credits each</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u54" class="ax_default box_1">
        <img id="u54_img" class="img " src="{% static 'images/detail_info/u54.png' %}"/>
        <div id="u54_text" class="text ">
          <p><span>&nbsp;&nbsp; &nbsp;&nbsp; Contact seller</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u55" class="ax_default fontawesome">
        <div id="u55_div" class=""></div>
        <div id="u55_text" class="text ">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u56" class="ax_default box_1">
        <img id="u56_img" class="img " src="{% static 'images/sharing/u36.png' %}"/>
        <div id="u56_text" class="text ">
          <p><span>{{ user.first_name }}</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u57" class="ax_default icomoon">
        <div id="u57_div" class=""></div>
        <div id="u57_text" class="text ">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u58" class="ax_default box_1">
        <img id="u58_img" class="img " src="{% static 'images/sharing/u25.png' %}"/>
        <div id="u58_text" class="text ">
          <p><span>Post Items</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) [reference page] -->
      <div id="u58_ref" class="reference_page"></div>
    </div>
  </body>
</html>
