{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Group Buy</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="{% static 'resources/css/jquery-ui-themes.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'resources/css/axure_rp_page.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'data/styles.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'files/group_buy/styles.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %}" type="text/css" rel="stylesheet"/>
    <style type="text/css">
@font-face {
font-family: 'IcoMoon-Free';
src: url('https://raw.githubusercontent.com/Keyamoon/IcoMoon-Free/master/Font/IcoMoon-Free.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
    </style>
    <script type="text/javascript">
      var user_id = "../{{user.id}}";
    </script>
    <script src="{% static 'resources/scripts/jquery-1.7.1.min.js' %}"></script>
    <script src="{% static 'resources/scripts/jquery-ui-1.8.10.custom.min.js' %}"></script>
    <script src="{% static 'resources/scripts/prototypePre.js' %}"></script>
    <script src="{% static 'data/document.js' %}"></script>
    <script src="{% static 'resources/scripts/prototypePost.js' %}"></script>
    <script src="{% static 'files/group_buy/data.js' %}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u81" class="ax_default box_1">
        <div id="u81_div" class=""></div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u82" class="ax_default" data-left="165" data-top="15" data-width="650" data-height="80">

        <!-- Unnamed (Group) -->
        <div id="u83" class="ax_default" data-left="165" data-top="15" data-width="650" data-height="80">

          <!-- Rectangle (Rectangle) -->
          <div id="u84" class="ax_default shape" data-label="Rectangle">
            <div id="u84_div" class=""></div>
          </div>

          <!-- Search Field (Text Field) -->
          <div id="u85" class="ax_default text_field1" data-label="Search Field">
            <input id="u85_input" type="search" value="" maxlength="128"/>
          </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u86" class="ax_default image1">
          <img id="u86_img" class="img " src="{% static 'images/sharing/u11.png' %}"/>
        </div>
      </div>

      <!-- Image (Image) -->
      <div id="u87" class="ax_default image1" data-label="Image">
        <img id="u87_img" class="img " src="{% static 'images/sharing/image_u12.png' %}"/>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u88" class="ax_default image">
        <img id="u88_img" class="img " src="{% static 'images/sharing/u13.jpeg' %}"/>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u89" class="ax_default image">
        <img id="u89_img" class="img " src="{% static 'images/sharing/u14.jpeg' %}"/>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u90" class="ax_default image">
        <img id="u90_img" class="img " src="{% static 'images/sharing/u15.jpeg' %}"/>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u91" class="ax_default image">
        <img id="u91_img" class="img " src="{% static 'images/sharing/u16.jpeg' %}"/>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u92" class="ax_default image">
        <img id="u92_img" class="img " src="{% static 'images/sharing/u17.jpeg' %}"/>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u93" class="ax_default image">
        <img id="u93_img" class="img " src="{% static 'images/sharing/u18.jpeg' %}"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u94" class="ax_default fontawesome">
        <div id="u94_div" class=""></div>
        <div id="u94_text" class="text ">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u95" class="ax_default fontawesome">
        <div id="u95_div" class=""></div>
        <div id="u95_text" class="text ">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u96" class="ax_default fontawesome">
        <div id="u96_div" class=""></div>
        <div id="u96_text" class="text ">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u97" class="ax_default fontawesome">
        <div id="u97_div" class=""></div>
        <div id="u97_text" class="text ">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u98" class="ax_default fontawesome">
        <div id="u98_div" class=""></div>
        <div id="u98_text" class="text ">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u99" class="ax_default fontawesome">
        <div id="u99_div" class=""></div>
        <div id="u99_text" class="text ">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u100" class="ax_default box_1">
        <img id="u100_img" class="img " src="{% static 'images/group_buy/u100.png' %}"/>
        <div id="u100_text" class="text ">
          <p><span>Initiate Group Buy</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) [reference page] -->
      <div id="u100_ref" class="reference_page"></div>

      <!-- Unnamed (Rectangle) -->
      <div id="u101" class="ax_default button">
        <div id="u101_div" class=""></div>
        <div id="u101_text" class="text ">
          <p><span>Join</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u102" class="ax_default button">
{#        <img id="u102_img" class="img " src="{% static 'images/sharing/u27.png' %}"/>#}
        <div id="u102_text" class="text ">
          <p><span>White Toast from Coles</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u103" class="ax_default button">
{#        <img id="u103_img" class="img " src="{% static 'images/sharing/u27.png' %}"/>#}
        <div id="u103_text" class="text ">
          <p><span>Crackers from Coles</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u104" class="ax_default button">
        <div id="u104_div" class=""></div>
        <div id="u104_text" class="text ">
          <p><span>Join</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u105" class="ax_default button">
        <div id="u105_div" class=""></div>
        <div id="u105_text" class="text ">
          <p><span>Join</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u106" class="ax_default button">
{#        <img id="u106_img" class="img " src="{% static 'images/sharing/u27.png' %}"/>#}
        <div id="u106_text" class="text ">
          <p><span>Chicken Breast from Woolworths</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u107" class="ax_default button">
{#        <img id="u107_img" class="img " src="{% static 'images/sharing/u27.png' %}"/>#}
        <div id="u107_text" class="text ">
          <p><span>Chicken Drumsticks from Aldi</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u108" class="ax_default button">
        <div id="u108_div" class=""></div>
        <div id="u108_text" class="text ">
          <p><span>Join</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u109" class="ax_default button">
        <div id="u109_div" class=""></div>
        <div id="u109_text" class="text ">
          <p><span>Join</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u110" class="ax_default button">
        <div id="u110_div" class=""></div>
        <div id="u110_text" class="text ">
          <p><span>Join</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u111" class="ax_default box_1">
        <img id="u111_img" class="img " src="{% static 'images/sharing/u36.png' %}"/>
        <div id="u111_text" class="text ">
          <p><span>{{ user.first_name }}</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u112" class="ax_default icomoon selected">
        <div id="u112_div" class="selected"></div>
        <div id="u112_text" class="text ">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u113" class="ax_default button">
{#        <img id="u113_img" class="img " src="images/sharing/u27.png"/>#}
        <div id="u113_text" class="text ">
          <p><span>Tomato from Woolworths</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u114" class="ax_default button">
{#        <img id="u114_img" class="img " src="images/sharing/u39.png"/>#}
        <div id="u114_text" class="text ">
          <p><span>Angus Beef from Coles</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u115" class="ax_default label">
        <div id="u115_div" class=""></div>
        <div id="u115_text" class="text ">
          <p><span>14m 2hrs 2days</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u116" class="ax_default label">
        <div id="u116_div" class=""></div>
        <div id="u116_text" class="text ">
          <p><span>16m 4hrs 1days</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u117" class="ax_default label">
        <div id="u117_div" class=""></div>
        <div id="u117_text" class="text ">
          <p><span>54m 3hrs 0days</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u118" class="ax_default label">
        <div id="u118_div" class=""></div>
        <div id="u118_text" class="text ">
          <p><span>34m 7hrs 1days</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u119" class="ax_default label">
        <div id="u119_div" class=""></div>
        <div id="u119_text" class="text ">
          <p><span>45m 8hrs 0days</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u120" class="ax_default label">
        <div id="u120_div" class=""></div>
        <div id="u120_text" class="text ">
          <p><span>Group Buy expired</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
