﻿{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Sharing</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="{% static 'resources/css/jquery-ui-themes.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'resources/css/axure_rp_page.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'data/styles.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'files/sharing/styles.css' %}" type="text/css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
    <style type="text/css">
@font-face {
font-family: 'IcoMoon-Free';
src: url('https://raw.githubusercontent.com/Keyamoon/IcoMoon-Free/master/Font/IcoMoon-Free.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
    </style>
    <script src="{% static 'resources/scripts/jquery-1.7.1.min.js' %}"></script>
    <script src="{% static 'resources/scripts/jquery-ui-1.8.10.custom.min.js' %}"></script>
    <script src="{% static 'resources/scripts/prototypePre.js' %}"></script>
    <script src="{% static 'data/document.js' %}"></script>
    <script src="{% static 'resources/scripts/prototypePost.js' %}"></script>
    <script src="{% static 'files/sharing/data.js' %}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u6" class="ax_default box_1">
        <div id="u6_div" class=""></div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u7" class="ax_default" data-left="165" data-top="15" data-width="650" data-height="80">

        <!-- Unnamed (Group) -->
        <div id="u8" class="ax_default" data-left="165" data-top="15" data-width="650" data-height="80">

          <!-- Rectangle (Rectangle) -->
          <div id="u9" class="ax_default shape" data-label="Rectangle">
            <div id="u9_div" class=""></div>
          </div>

          <!-- Search Field (Text Field) -->
          <div id="u10" class="ax_default text_field1" data-label="Search Field">
            <input id="u10_input" type="search" value="" maxlength="128"/>
          </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u11" class="ax_default image1">
          <img id="u11_img" class="img " src="{% static 'images/sharing/u11.png' %}"/>
        </div>
      </div>

      <!-- Image (Image) -->
      <div id="u12" class="ax_default image1" data-label="Image">
        <img id="u12_img" class="img " src="{% static 'images/sharing/image_u12.png' %}"/>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u13" class="ax_default image">
        <img id="u13_img" class="img " src="{% static 'images/sharing/u13.jpeg' %}"/>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u14" class="ax_default image">
        <img id="u14_img" class="img " src="{% static 'images/sharing/u14.jpeg' %}"/>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u15" class="ax_default image">
        <img id="u15_img" class="img " src="{% static 'images/sharing/u15.jpeg' %}"/>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u16" class="ax_default image">
        <img id="u16_img" class="img " src="{% static 'images/sharing/u16.jpeg' %}"/>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u17" class="ax_default image">
        <img id="u17_img" class="img " src="{% static 'images/sharing/u17.jpeg' %}"/>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u18" class="ax_default image">
        <img id="u18_img" class="img " src="{% static 'images/sharing/u18.jpeg' %}"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u19" class="ax_default fontawesome">
        <div id="u19_div" class=""></div>
        <div id="u19_text" class="text ">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u20" class="ax_default fontawesome">
        <div id="u20_div" class=""></div>
        <div id="u20_text" class="text ">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u21" class="ax_default fontawesome">
        <div id="u21_div" class=""></div>
        <div id="u21_text" class="text ">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u22" class="ax_default fontawesome">
        <div id="u22_div" class=""></div>
        <div id="u22_text" class="text ">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u23" class="ax_default fontawesome">
        <div id="u23_div" class=""></div>
        <div id="u23_text" class="text ">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u24" class="ax_default fontawesome">
        <div id="u24_div" class=""></div>
        <div id="u24_text" class="text ">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u25" class="ax_default box_1">
        <img id="u25_img" class="img " src="{% static 'images/sharing/u25.png' %}"/>
        <div id="u25_text" class="text ">
          <p><span>Post Items</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) [reference page] -->
      <div id="u25_ref" class="reference_page"></div>

      <!-- Unnamed (Rectangle) -->
      <div id="u26" class="ax_default button">
        <div id="u26_div" class=""></div>
        <div id="u26_text" class="text ">
          <p><span>Details</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u27" class="ax_default button">
        <img id="u27_img" class="img " src="{% static 'images/sharing/u27.png' %}"/>
        <div id="u27_text" class="text ">
          <p><span>Organic Tomatoes from QVM</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u28" class="ax_default button">
        <img id="u28_img" class="img " src="{% static 'images/sharing/u27.png' %}"/>
        <div id="u28_text" class="text ">
          <p><span>Angus Beef! Gooood quality~~</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u29" class="ax_default button">
        <div id="u29_div" class=""></div>
        <div id="u29_text" class="text ">
          <p><span>Details</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u30" class="ax_default button">
        <div id="u30_div" class=""></div>
        <div id="u30_text" class="text ">
          <p><span>Details</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u31" class="ax_default button">
        <img id="u31_img" class="img " src="{% static 'images/sharing/u27.png' %}"/>
        <div id="u31_text" class="text ">
          <p><span>chicken drumsticks</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u32" class="ax_default button">
        <img id="u32_img" class="img " src="{% static 'images/sharing/u27.png' %}"/>
        <div id="u32_text" class="text ">
          <p><span>free range chicken breast</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u33" class="ax_default button">
        <div id="u33_div" class=""></div>
        <div id="u33_text" class="text ">
          <p><span>Details</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u34" class="ax_default button">
        <div id="u34_div" class=""></div>
        <div id="u34_text" class="text ">
          <p><span>Details</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u35" class="ax_default button">
        <div id="u35_div" class=""></div>
        <div id="u35_text" class="text ">
          <p><span>Details</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u36" class="ax_default box_1">
        <img id="u36_img" class="img " src="{% static 'images/sharing/u36.png' %}"/>
        <div id="u36_text" class="text ">
          <p><span>{{ user.first_name }}</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u37" class="ax_default icomoon selected">
        <div id="u37_div" class="selected"></div>
        <div id="u37_text" class="text ">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u38" class="ax_default button">
        <img id="u38_img" class="img " src="{% static 'images/sharing/u27.png' %}"/>
        <div id="u38_text" class="text ">
          <p><span>white toast! super cheap</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u39" class="ax_default button">
        <img id="u39_img" class="img " src="{% static 'images/sharing/u25.png' %}"/>
        <div id="u39_text" class="text ">
          <p><span>tasty bread</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
